In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("daataa - Sheet1.csv")

In [6]:
df.head()

,First Name,Last Name,D.O.B,Mobile Number,Address,Email
0,Aritra,Mondal,01/06/1999,8910236873,Srirampur,aritramondal06@gmail.com
1,Dedipya,Datta,08/12/1998,8910146385,Ichhapur,dedipyadatta08@gmail.com
2,Sreyam,Chakraborty,05/06/2002,6289859383,Newland,sreyamchakraborty23@gmail.com
3,Subhram,Chakraborty,10/11/1966,9874095680,Nangi,subhram02@gmail.com
4,Soham,Chakraborty,19/11/1998,8777363618,Batanagar,soham.311056@gmail.com

In [4]:
import segno as sg

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   First Name     5 non-null      object
 1   Last Name      5 non-null      object
 2   D.O.B          5 non-null      object
 3   Mobile Number  5 non-null      int64
 4   Address        5 non-null      object
 5   Email          5 non-null      object
dtypes: int64(1), object(5)
memory usage: 368.0+ bytes

In [8]:
for row in df:
    print(row)

First Name
Last Name
D.O.B
Mobile Number
Address
Email

In [41]:
with open("strings.text", "w") as output:
    for i in range(len(df)):
        res = df['First Name'][i] + str(df['Mobile Number'][i]) + df['Last Name'][i] + df['Email'][i] + df['Address'][i]
        output.write(str(res) + '\n')

In [31]:
import os

In [33]:
import shutil

In [34]:
dest = 'C:\QR Code Scanner\strings.text'
sour = 'C:\SCprac1\strings.text'
shutil.move(sour, dest)

'C:\\QR Code Scanner\\strings.text'

In [42]:
f = open("strings.text", "r")
file_con = f.read()
print(file_con)

Aritra8910236873Mondalaritramondal06@gmail.comSrirampur
Dedipya8910146385Dattadedipyadatta08@gmail.comIchhapur
Sreyam6289859383Chakrabortysreyamchakraborty23@gmail.comNewland
Subhram9874095680Chakrabortysubhram02@gmail.comNangi
Soham8777363618Chakrabortysoham.311056@gmail.comBatanagar

In [44]:
b = file_con.split('\n')

In [45]:
print(b)

['Aritra8910236873Mondalaritramondal06@gmail.comSrirampur', 'Dedipya8910146385Dattadedipyadatta08@gmail.comIchhapur', 'Sreyam6289859383Chakrabortysreyamchakraborty23@gmail.comNewland', 'Subhram9874095680Chakrabortysubhram02@gmail.comNangi', 'Soham8777363618Chakrabortysoham.311056@gmail.comBatanagar', '']

In [48]:
for i in range(len(df)):
    makeQr = sg.make(b[i])
    name = df['First Name'][i]
    makeQr.save(f'{name}.png', scale=8)

In [9]:
import smtplib

In [18]:
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from pathlib import Path
from email.mime.image import MIMEImage


with smtplib.SMTP(host="smtp.gmail.com", port=587) as smtp:
    smtp.ehlo()
    smtp.starttls()
    smtp.login("source.mail@gmail.com", "$$password$$")
    
    for i in range(0,len(df)):
        message = MIMEMultipart()
        message["from"] = "ProjectForFun Authority"
        message["to"] = df['Email'][i]
        message["subject"] = "Do not show it to someone"
        message.attach(MIMEText("Dear customer, \n\n   This mail contains a authentication QR code for the security purpose of your registration.\n\nDo not share this code with anyone. \n\nEnjoy our project :)"))
        name = df['First Name'][i]
        message.attach(MIMEImage(Path(f'{name}.png').read_bytes()))

        smtp.send_message(message)
        print("Sent...")

Sent...
Sent...
Sent...
Sent...
Sent...